.item-colors {
    color: white;
    margin-top: 10px;
}

.status-color-alive {
    color: green;
}

.status-color-dead {
    color: red;
}

.status-color-unknown {
    color: yellow;
}

.title-details {
    color: white;
    padding: 15px;
}

.details-details {
    padding: 10px;
    font-size: 20px;
}