<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="personajes" href="/main-tabs/personajes">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="localizaciones" href="/main-tabs/localizaciones">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Localizaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="episodios" href="/main-tabs/episodios">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Episodios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
