<app-header [title]="title" [navigate]="urlBack" [showCloseButton]="true" (actionEmitter)="onClickAction($event)"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>

      <!-- Columna Tipo -->
      <ion-col size="12" class="details-details">
        <div>Tipo: {{localizacion.type}}</div>
      </ion-col>

      <!-- Columna Dimensión -->
      <ion-col size="12" class="details-details">
        <div>Dimensión: {{localizacion.dimension}}</div>
      </ion-col>

      <!-- Columna Personajes -->
      <ion-col size="12">
        <ion-card *ngFor="let personaje of personajes" button="true" (click)="onClickSelectedPersonaje(personaje)">

          <ion-card-header>
            <ion-card-title>{{personaje.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-padding">
            <!--<div class="item-colors">Primera Emisión:</div><span>{{episodio.air_date | date:'longDate'}}</span>
            <div class="item-colors">Código:</div><span>{{episodio.episode}}</span><br><br>-->
          </ion-card-content>
  
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
