<app-header [title]="title" [navigate]="urlBack" [showCloseButton]="false" (actionEmitter)="onClickAction($event)"></app-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      
      <ion-col size="12">

        <ion-card *ngFor="let personaje of personajes" button="true" (click)="onClickSelectedPersonaje(personaje)">

          <ion-card-header>

            <ion-row>
              <ion-col size="4">
                <img src={{personaje.image}}/>
              </ion-col>

              <ion-col size="8">
                <ion-card-title>{{personaje.name}}</ion-card-title>
                <ion-card-subtitle [ngSwitch]=personaje.status>
                  <div *ngSwitchCase="'Alive'" class="status-color-alive">{{personaje.species | lowercase}} - {{personaje.gender}}</div>
                  <div *ngSwitchCase="'Dead'" class="status-color-dead">{{personaje.species | lowercase}} - {{personaje.gender}}</div>
                  <div *ngSwitchCase="'unknown'" class="status-color-unknown">{{personaje.species | lowercase}} - {{personaje.gender}}</div>
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
            
          </ion-card-header>
  
          <ion-card-content class="ion-padding">
            <div class="item-colors">Últ. Localización conocida:</div><span>{{personaje.location.name}}</span><br><br>
            <div class="item-colors"><i>Creado: {{personaje.created | date:'dd-MM-yyyy'}}</i></div><span> </span>
          </ion-card-content>
  
        </ion-card>

  </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>